html{
    font-size: 10px;
    font-family: Raleway;
    color: white;
}
body{
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
}
.slide-block{
    background: no-repeat url(./img/24x11-1600x733-daily-habits-nutrition-kit\ 1\ 1.png);
    background-size: 100%;
    width: 100%;
    height: 600px;
}
.animblock{
    margin-left: 5%;
    padding-top: 5%;
   animation-name: Slide;
   animation-duration: 3s;
}
@keyframes Slide 
{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
    
}
.headertext{
    font-size: 4.8rem;
    font-weight: 900;
    width: 600px;

}
.partext{
    font-size: 2.4rem;
    font-weight: 400;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 40px;
}
button{
    font-size: 1.6rem;
    font-weight: 700;
    background-color: #946FD3;
    color: white;
    padding: 18px 43px;
    border: 0px;
    border-radius: 50px;

}
.rotate-block{
    margin: 100px 0;
    background-color: #F0E6FF;
    height: 269px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.par{
    color: #946FD3;
    font-weight: 700;
    font-size: 2rem;
}
.ht{
    font-size: 3.8rem;
    font-weight: 700;
    color: #354657;
    margin: 15px 0;
    width: 637px;
}
.inf{
    margin-left: 115px;
}

.bottle1{
    animation-name: rotbtl1;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes rotbtl1 {
    from{
        transform: rotate(0deg);
     } 
 
     to{ 
         transform: rotate(-360deg);
     }
}
.bottle2{
    margin-left: -100px ;
   animation-name: rotbtl2;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: linear;
}
@keyframes rotbtl2 {
    from{
        transform: rotate(0deg);
     } 
 
     to{ 
         transform: rotate(360deg);
     }
}