html{
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Raleway;
    color: #354657;
}
main{
    width: 70%;
    margin: 0 auto;
    margin-bottom: 248px;
}
.headertext{
    font-size: 3rem;
    font-weight: 700;
    padding-bottom: 18px;
    border-bottom: 1px solid #E2E2E2;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 188px;
}
.flex1{
    display: flex;
}
.right{
    width: 70%;
    padding-left: 30px;
}
.left{
    width: 30%;
}
.leftst, .deliv, .pay{
    height: 113px;
    background-color: #F0F2F5;
}
.pay{
    margin: 30px 0;

}
.txta{
    margin-top: 30px;
    background-color: #F0F2F5;
    padding-left: 20px;
}
.leftnd{
    margin-top: 30px;
    background-color: #F0F2F5;
}
.sth{
    font-size: 2rem;
    font-weight: 700;
    padding-top: 20px;
    margin-bottom: 20px;
}
form{
    margin-left: 20px;
}
.regis{
    margin-left: 20px}
.hform{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
}
.fh{
    height: 38px;
    width: 90%;
    margin-bottom: 20px;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
}
label{
    font-size: 1.6rem;
    font-weight: 400;
}
th{
    padding: 13px 0;
    font-size: 1.4rem;
    font-weight: 700;
    text-align:left;
    padding-left: 20px;
}
.th{
    background: #F0F2F5
}
.dopc{
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 10px;
}
textarea{
    height: 86px;
    width: 97%;
    border: 1px solid #B6B6B6;
    border-radius: 3px;
}
.gal{
    margin-top: 16px;
    margin-left: 0;
}
button{
    font-size: 1.6rem;
    color: white;
    font-weight: 700;
    border-radius: 50px;
    background-color: #946FD3;
    border: #946FD3;
    padding: 20px;
}
.button{
    padding: 30px 0;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}
.num{
    width: 33px;
    height: 33px;
    box-sizing: border-box;
}
table{
    width: 100%;
    border: 0px;
    border-spacing: 0px;
}
td{
    font-weight: 400;
    font-size: 1.4rem;
    padding: 22px 0;
    padding-left: 20px;
}
.lll{display: flex;}
.ll{
    margin-left: 3px;
}
.grey{
    background: #FAFAFA;
}
    