html{
    min-width: 500px;
    max-width: 1000px;
}
body{
    margin: 0;
    padding: 0;
}
header{
    position: relative;
    height: 236px;
    background-color: #2D7053;
}
.logo{
    position: absolute;
    height: 142px;
    width: 142px;
    top: 46px;
    left: 37px;
    background-color: #FFFFFF;
    border-radius: 100%;
}
.headertext{
    position: absolute;
    width: 134px;
    height: 131px;
    font-family:"MyriadPro-Regular";
    color:#FFFFFF;
    font-size:1.87em;
    text-align:left;
    top: 52px;
    left: 237px;
}
.menu{
    position: absolute;
    width:85px;
    height: 69px;
    top: 83px;
    right: 45px;
}
.palka{
    height: 13px;
    background-color: #FFFFFF;
    border-radius: 70px;
    margin-bottom: 15px;
}
.flat{
    position: relative;
    height: 466px;
    background-image: url("./img/flat.png");
    display: flex;
    align-items: center;
    justify-content: center;
}
.flatshadow{
    position: absolute;
    width: 97%;
    height: 466px;
    background-color: black;
    opacity: 0.4;
    right: 0;
}
.zapis1, .zapis2{
    position:absolute;
    width: 342px;
    height: 75px;
    background-color: #CB9223;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zapis1 a,.zapis2 a{    
    color:#FFFFFF;
    font-size: 24px;
    text-align:center;
    margin: 0;
}
.zapis1{
    bottom: 47px;
}
.zapis2{
    bottom:49px;
}
.info{
    position: relative;
    height:1024px;
    color: #000000;
    font-family:"MyriadPro-Regular";
    display: flex;
    align-items: center;
    justify-content: center;
}
.name, .casesh{
    font-size: 36px;
}
.cases, .namef, .spec{
    font-size: 24px;
}
.name{
    position:absolute;
    height: 27px;
    top:134px;
    left: 366px;

}
.namef{
    position:absolute;
    width: 250px;
    height: 50px;
    top:190px;
    left: 366px;
}
.spec{
    position:absolute;
    width: 600px;
    height: 166px;
    top: 380px;
    left:44px;
}
.casesh{
    position:absolute;
    max-width: 630px;
    left:44px;
    top:592px;
}
.cases{
    position:absolute;
    list-style-type: "-";
    list-style-position: inside;
    margin-top:0;
    margin-bottom: 0;
    left:44px;
    top: 667px;
}
.portrait{
    position: absolute;
    background-color: #FFFFFF;
    border-radius: 100%;
    height: 247px;
    width: 247px;
    left:44px;
    top: 73px;
}

footer{
    position: relative;
    height: 154px;
    background-color: #888888;

}
.logo2{
    position: absolute;
    height: 97px;
    width: 97px;
    top: 29px;
    left: 44px;
    background-color: #FFFFFF;
    border-radius: 100%;
}
a{
    color:#FFFFFF;
    text-decoration: none;
    font-family:"MyriadPro-Regular";
}
.map{
    position: absolute;
    right:227px;
    bottom:34px;
    font-size:18px;
    text-align:left;
}
.mail{
    position: absolute;
    right:45px;
    bottom:38px;
    font-size:18px;
    text-align:left;
}
.tel{
    position: absolute;
    right:45px;
    bottom:82px;
    font-size:18px;
    text-align:left;
}
@font-face{
    font-family:"MyriadPro-Regular";
    src: url(./fonts/MyriadPro.ttf);
}