html{
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
    font-family: Raleway;
    color: #354657;
}
header{
    height: 117px;
    background-color: #F8F4FC;
}
.header{width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.header__navigation > ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;
}
.header__navigation > ul li{
    padding-right: 10%;
}
.header__navigation > ul li:nth-last-child(1){
    padding-right: 0;
}
.logo{
    width: 25%;
    
}
.logo img{
    width: 90%;
    
}
.header__icons{
    width: 20%;
}
.header__navigation{
    width: 55%
}

.header__icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__icons div{
    margin: auto 5%;
}

.header__navigation a{
    text-decoration: none;
    color: #354657;
    font-size: 1.6rem;
    font-weight: 700;
}

.main{
    width: 70%;
    margin: 0 auto;
    position:relative;
}
.main__title{
    font-weight: 700;
    font-size: 3rem;
    padding-top: 71px;
    padding-bottom: 18px;
    border-bottom: 1px solid #E2E2E2;
}
.sortbox{
    display: flex;
    justify-content: flex-end;
    
}
.sortbox__title{
    font-weight: 700;
    font-size: 1.6rem;
}
.sortbox__title > select{
    border: 2px solid #F2F2F2;
    font-weight: 400;
    font-size: 1.6rem;
    color: #354657;
    margin: 35px 0 ;
}
.main-box{display: grid;
grid-template-columns: 20% 1fr;
gap: 30px;
}
.filter-box{
    grid-column-start: 1;
   grid-column-end: 2;
    border: 3px solid #EEE8F8;
    grid-row-start: 1;
    grid-row-end: 4;
    gap: 35px;
}
.filter{
    margin: 20px;
}
.filter__text > button{
    float: right;
    padding: 4px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 1.1rem;
    background-color: #946FD3;
    border: 3px solid #946FD3;
    box-sizing: border-box;
}
.b-{float: right;
    border: 1px solid #946FD3;
    background-color: #FFFFFF;
    color: #946FD3;
    padding: 0 4px;
    border-radius: 5px;
    font-weight: 700;
}
.filter-box{
    height: 53%;
}
.filter__text{
    font-weight: 700;
    font-size: 2.4rem;
    margin-bottom: 24px;
}
.check, .check2{
   font-weight: 400;
   font-size: 1.6rem;
}
.check2{
    margin: 16px 0;
}  
.size, .forwho, .forwhat{
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 21px;
}
.size_box, .forwho_box{
    margin-bottom: 50px;
}
.service{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 28px;
    align-items: end;
}
.service_box{
    grid-template-rows: 1fr 10%;
}
.card{
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
    text-align: center;
}
.card__img > img{
    width: 100%;
}
.card__title{
    height: 40px;
    margin: 16px 0;
    font-weight: 700;
    font-size: 1.6rem;
}
.card__title2{
    margin: 16px 0;
    height: 40px;
    font-weight: 700;
    font-size: 1.6rem;
}
.card__price{
    font-weight: 400;
    font-size: 1.6rem;
    margin-bottom: 26px;
}
.more{
    display: flex;
    justify-content: space-around;
}
.more > button{
    font-weight: 700;
    font-size: 1.6rem;
    border: 2px solid #946FD3;
    color: #946FD3;
    border-radius: 50px;
    background-color: #FFFFFF;
    padding: 10px 30px;
    margin: 50px 0;
}
.right{
    position: absolute;
    top: 336px;
    right: 0px;

}
.left{
    position:absolute;
    top:986px;
    left: 0px;
}
footer{
    border-top: 1px solid #E2E2E2;
}
.footer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo2{
    width: 30%;
}
.img2{
    width: 75%;
}
.footer__navigation > ul{ 
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    
    align-items: center;
    height: 100%;
}
.footer__navigation > ul>li{
    margin-right: 5%;
}
.footer__navigation a{
    text-decoration: none;
    color: #354657;
    font-size: 1.6rem;
    font-weight: 700;
}
.footer__navigation{
    width: 25%;
}
.footer__icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer__icons div{
    margin-left: 3%;
}
.footer__icons img{
    margin: auto 0 ;
}
.footer__icons{
    width: 30%;
}
.logo3{
    width: 15%;
    display: flex;
    justify-content: flex-end;
}
.logo3 > img{
    width: 90%;
}
