html{
    font-size: 10px;
}
body{
    margin: 0;
    padding: 0;
    font-family: Raleway;
    color: #354657;
}
a{
    text-decoration: none;
    color: #946FD3;
    font-weight: 700;
    font-size: 1.6rem;
}
.content_con{
    display: flex;
    margin: 40px 0;
}
.adress{
    display: flex;
}
.call{
    display: flex;
}
.email{
    display: flex;
}
.adrl a{
    color: #354657;    ;
    font-weight: 400;
}

.h{
    font-weight: 700;
    font-size: 2rem;
    padding-bottom: 7px;
}
.callt, .emailt, .adresst{
    margin-left: 17px;
}
.adress, .call, .email{
    margin-bottom: 35px;
}
button{
    color: white;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 700;
    background-color: #946FD3;
    border-radius: 50px;
    border: 0px;
    padding: 20px 66px;

}
.detail{
    background-color: #F0F2F5;
    width: 30%;
    height: 440px;
    display: flex;
    align-items: center;
    justify-content: center 

}
header{
    height: 117px;
    background-color: #F8F4FC;
}
.header{width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}
.header__navigation > ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;
}
.header__navigation > ul li{
    padding-right: 10%;
}
.header__navigation > ul li:nth-last-child(1){
    padding-right: 0;
}
.logo{
    width: 25%;
    
}
.logo img{
    width: 90%;
    
}
.header__icons{
    width: 20%;
}
.header__navigation{
    width: 55%
}

.header__icons{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header__icons div{
    margin: auto 5%;
}

.header__navigation a{
    text-decoration: none;
    color: #354657;
    font-size: 1.6rem;
    font-weight: 700;
}
.main{
    width: 70%;
    margin: 0 auto;
    position:relative;
}
.main__title{
    font-weight: 700;
    font-size: 3rem;
    padding-top: 71px;
    padding-bottom: 18px;
    border-bottom: 1px solid #E2E2E2;
}
footer{
    border-top: 1px solid #E2E2E2;
    margin-top: 40px;
}
.footer{
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo2{
    width: 40%;
}
.img2{
    width: 70%;
}
.footer__navigation > ul{ 
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: center;
    height: 100%;
}
.con{
    margin-left: 10%;
}
.map{
    margin-left: 25px;
}
.footer__navigation a{
    text-decoration: none;
    color: #354657;
    font-size: 1.6rem;
    font-weight: 700;
}
.footer__navigation{
    width: 30%;
}
.footer__icons{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.footer__icons div{
    margin-left: 3%;
}
.footer__icons img{
    margin: auto 0 ;
}
.footer__icons{
    width: 30%;
}

