body{
    min-width: 500px;
    max-width: 1000px;
    margin: 0;
    padding: 0;
}
/*HEADER--START*/
header{
    height: 236px;
    background-color: #2D7053;

}
.logo{
    float: left;
    height: 142px;
    width: 142px;
    background-color: #FFFFFF;
    border-radius: 50%;
    margin-top: 46px;
    margin-left: 37px;
}
.headertext, a{
    font-family:"MyriadPro-Regular";
    color: #FFFFFF;
    text-decoration: none;
}
.headertext{
    float: left;
    height: 131px;
    width: 134px;
    font-size: 1.875em;
    margin-left:58px;
    margin-top: 52px;
    text-align: left;
}
.menu{
    float: right;
    width: 85px;
    height: 69px;
    margin-top: 83px;
    margin-right: 45px;
}
.palka.pos{
    margin-bottom: 15px;
}
.palka{
    height: 13px;
    width: 85px;
    border-radius: 70px;
    background-color: #FFFFFF;
}
/*HEADER--END*/
/*MAIN--START*/
.name, .namef, .spec, .casesh, .cases{
    font-family:"MyriadPro-Regular";
    color: black;
}
.name, .casesh{
    font-size: 2.25em;
}
.namef, .spec, .cases{
    font-size: 1.5em;
}
.flat{
    position: relative;
    background-image: url(./img/flat.png);
    height: 466px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flatshadow{
    position: absolute;
    right: 0;
    top:0;
    width: 99%;
    height: 444px;
    background-color: black;
    opacity: 0.4;
}
.zapis1box{
    margin-top: 344px;
    top:0;
    position: absolute;
    height: 75px;
    width: 342px;
    background-color: #CB9223;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
}
/*.info{
    height:1024px;
}*/
.portrait{
    height: 247px;
    width: 247px;
    margin-top: 73px;
    margin-left: 44px;
    border-radius: 50%;
    float:left;
}
.nameblock{
    float:right;
    width: 250px;
    height: 106px;
    margin-top: 134px;
    margin-right: 174px;
    text-align: left;
}
.name{
    margin-bottom: 29px;
    height: 27px;
}
.namef{
    height: 50px;
}
.spec{
    padding-top: 380px;
    margin-left: 44px;
    width: 595px;
}
.casesh{
    margin-left: 44px;
    margin-top: 46px;
    width: 630px;
}
.cases{
    margin-left: 44px;
    list-style-type: "-";
    list-style-position: inside;
    margin-top:43px;
    margin-bottom: 0;
    padding-left: 0;

}
.zapisblock{
    position: relative;
    height: 167px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.zapis2box{

    height: 75px;
    width: 342px;
    background-color: #CB9223;
    font-size: 1.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 43px;
    margin-bottom: 49px;
}

/*MAIN--END*/
/*FOOTER--START*/
footer{
    height: 154px;
    background-color: #888888;
}
.logo2{
    float: left;
    height: 97px;
    width: 97px;
    border-radius: 50%;
    background-color: #FFFFFF;
    margin-left: 44px;
    margin-top: 29px;
}
.tel,.mail,.map{
    font-size: 1,125em;
}
.telmail{
    float: right;
    margin-right: 45px;
    margin-top: 57px;
}
.tel{
    text-align: right;
    width: 144px;
    height: 17px;
    margin-bottom: 27px;
}
.mail{
    height: 17px;
    width: 144px;
}
.map{
    float: right;
    height: 17px;
    width: 199px;
    margin-right: 38px;
    margin-top: 103px;
}
/*FOOTER--END*/
@font-face{
    font-family:"MyriadPro-Regular";
    src: url(./fonts/MyriadPro.ttf);
}