body{
    margin: 0;
    padding: 0;
}
.container{
    height: 1282px;
    width: 1281px;
    margin: 0 auto;
    font-family:"MyriadPro-Regular";
}
a{
    text-decoration: none;
}
.logo{
    padding-top: 61px;
    font-size: 5rem;
    margin-left:2px;
    padding-bottom: 44px;
}
.logoblack{
    color: black;
}
.logoblue{
    color: #4BCAFF;
}
.main-nav{
    font-family: "MyriadPro-Regular";
    font-size: 1.5rem;
    width: 1281px;
    height: 70px;
    background-color: #35444F;
}
ul{
    padding: 0;
    margin: 0;
    list-style-type: none;

}
.list{
    margin: 0 auto;
    display: flex;
    justify-content:center;
    height: 70px;
}
.item-link{
    box-sizing: border-box;
    height: 70px;
    padding-left: 42px;
    padding-right: 42px; 
    padding-top: 20.5px;
}
.item-link a{
    color: #FFFFFF;
    
}
.item-link:hover{
    background-color: #222F3A;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
}

.secondary-nav{
    box-sizing: border-box;
    font-family: "MyriadPro-Regular";
    font-size: 1.875rem;
    height: 400px;
    width: 344px;
    border: 1px solid #35444F;
    float: left;
}
.item-link2{
    box-sizing: border-box;
    height: 79.6px;
    width: 342px;
    padding-left: 44px;
    padding-top: 21.5px;
}
.item-link2 a{
    color: #495863;   
}
.item-link2:hover{
    padding-left: 69px;
    background-color: #DBDBDB;
}
.item-link2:hover a{
    color: #35444F;
}
.main-img{
    box-sizing: border-box;
    float: left;
    width: 885px;
    height: 529px;
    border: 1px solid #35444F;
    margin-left: 52px;
}
.main-img img{
    height: 381px;
    width: 230;
    margin-left: 297px;
    margin-top: 75px;
}
.center{
    margin-top: 51px;
    width: 1283px;
    height: 529px;
    overflow: hidden;
}
.text1{
    margin-top: 50px;
    margin-left: 427px;
    height: 114px;
    width: 815px;
    color: #2C2C2C;
    font-family:"MyriadPro-Regular";
    font-size: 1.125rem;
}
.text2{
    margin-top: 30px;
    margin-left: 427px;
    height: 109px;
    width: 820px;
    color: #2C2C2C;
    font-family:"MyriadPro-Regular";
    font-size: 1.125rem;
}
.rect{
    overflow: hidden;
    height: 69px;
    width: 1280px;
    background-color: #B4B7BA;
    font-family: "MyriadPro-Regular";
    font-size: 1.75rem;
    margin-top: 51px ;
    margin-bottom: 30px;
    margin-left:1px;
}
.footer-nav{
    float: left;
}
.list3{
    margin: 0 auto;
    display: flex;
    justify-content:left;
    height: 69px;
}
.item-link3{
    box-sizing: border-box;
    height: 69px;
    padding-left: 44px;
    padding-top: 17.5px;
}
.item-link3 a{
    color: #0C1927;
}
.item-link3 a:hover{
    color: #3181A6;
    text-decoration: underline;
}
.copyright{
    font-size: 1.5rem;
    float: right;
    margin-right: 34px;
    margin-top: 20px;
}
@font-face{
    font-family:"MyriadPro-Regular";
    src: url(./fonts/MyriadPro.ttf);
}